input {
  file {
    path => ["D:\My_Stuff\ELK\Logs\logtest1.log"]
	start_position => "beginning"
    sincedb_path => "NULL"
  }
}
filter {
    grok {
		patterns_dir => ["D:\My_Stuff\ELK\Logs\patterns"]
        patterns_files_glob => "*"
		match => { "message" => "%{TIME:time} \[%{TESTNAME:testname}\] %{TIMESTAMP_ISO8601:timestamp} - %{WORD:loglevel} - %{MODULENAME:moduleName}::%{WORD:funcName} - %{GREEDYDATA:message}" }
        match => { "message" => "%{TIME:time} \[%{TESTNAME:testname}\] %{GREEDYDATA:message}"}
    }
}
output {
    elasticsearch {
		hosts => "127.0.0.1:9200"
    }
    stdout { codec => rubydebug }
    file {
        path => ["D:\My_Stuff\ELK\Logs\testLog.log"]
        create_if_deleted => true
    }
}