input {
  file {
    path => ["D:\My_Stuff\ELK\Logs\j2.log"]
	start_position => "beginning"
    sincedb_path => "NULL"
  }
}
filter {
    grok {
        patterns_dir => ["D:\My_Stuff\ELK\Logs\patterns"]
        patterns_files_glob => "*"
		match => { "message" => "%{TIME:time} \[%{TESTNAME:testname}\] %{TIMESTAMP_ISO8601:timestamp} - %{LOGLEVEL:level} - %{MODULENAME:moduleName}::%{WORD:funcName} - %{GREEDYDATA:logMessage}" }
        
        match => { "message" => "%{TIME:time} \[%{TESTNAME:testname}\] %{OTHERDATA:other}" }
    }
    
    if [level] =~ "." {
        mutate { replace => {"type" => "required"} }
    } else if [other] =~ "." {
        mutate { replace => {"type" => "notrequired"} }
    }

    mutate { remove_field => ["@version", "geoip"] }

    if "_grokparsefailure" in [tags] {
        drop {}
    }
}
output {
    elasticsearch {
		hosts => "127.0.0.1:9200"
    }
    stdout { }
}